<table class="table table-bordered table-dark">
  <thead>
  <tr>
    <th>#</th>
    <th>Brand</th>
    <th>Model</th>
    <th>Displacment</th>
    <th>Engine Type</th>
    <th>Transmission Type</th>
    <th>Photo</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let car of cars; let i = index">
    <th scope="row">{{i}}</th>
    <td>{{car.brand}}</td>
    <td>{{car.model}}</td>
    <td>{{car.displacment}}</td>
    <td>{{car.engineType}}</td>
    <td>{{car.transmissionType}}</td>
    <td><img src = {{car.photoLink}}/></td>
  </tr>
  </tbody>
</table>
