<h1>Cars and Dealers application</h1>
<div ngbRadioGroup name="radioBasic" class="navigation btn-group">
  <a ngbButtonLabel routerLink="/addCar" class="btn-primary">Add a car</a>
  <a ngbButtonLabel routerLink="/addDealer" class="btn-primary">Add a dealer</a>
  <a ngbButtonLabel routerLink="/carList" class="btn-primary">Display car list</a>
  <a ngbButtonLabel routerLink="/dealerList" class="btn-primary">Display dealer list</a>
  <button ngbButtonLabel (click)="logout()" class="btn-danger">Logout</button>
</div>
